@model IEnumerable<PersonelBilgiSis.Models.User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Yeni Oluştur", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.UserNameSurname)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserNameSurname)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id=item.UserID }) |
                @Html.ActionLink("Detaylar", "Details", new { id=item.UserID }) |
                @Html.ActionLink("Sil", "Delete", new { id=item.UserID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
