@model IEnumerable<PersonelBilgiSis.Models.EducationInfo>

@{
    ViewBag.Title = "Eğitim Bilgileri";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Eğitim Bilgileri</h2>

<p>
    @Html.ActionLink("Eğitim Bilgileri", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OgrenimSeviyesi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MezuniyetYili)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tez)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TezUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OgrenimSeviyesi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MezuniyetYili)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tez)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TezUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EducationInfoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EducationInfoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EducationInfoID })
        </td>
    </tr>
}

</table>
