@model IEnumerable<PersonnelInformationSystem.Areas.Admin.Models.Files>

@{
    ViewBag.Title = "Dosyalar";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Dosyalar</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilePath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FileID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FileID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FileID })
        </td>
    </tr>
}

</table>
